<div class="pool-container" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout="row" fxLayoutAlign="space-between">
	<h2>Debt pools</h2>
	<button fxFlexAlign="end" md-raised-button color="primary" [disabled]="userPermissionLevel<=1" (click) = addPool()>Add pool</button>
	</div>

    <p-dataTable [value]="pools">
        <p-column field="name" [sortable]="true" header="Name"></p-column>
        <p-column field="members.length" [sortable]="true" header="Member count"></p-column>
        <p-column field="totalTokens" [sortable]="true" header="Token count"></p-column>
        <p-column field="totalSlices" [sortable]="true" header="Slice count"></p-column>
        <p-column>
            <template let-pool="rowData" pTemplate="body">
                <button md-raised-button (click) = onSelect(pool)>Details</button>
            </template>
        </p-column>
    </p-dataTable>
</div>