:host {
  display: block;
}

.pool-container {
  padding: 1%;
  position: relative;

  .header {
    min-height: 220px;
    background: linear-gradient(60deg, #2196F3, #3F51B5);
  }
}

md-card {
  margin: 2%;
}

table {
    margin: 5%;
}

button {
    margin: 20px;
}