<div class="pool-container" fxLayout="column" fxLayoutAlign="start stretch">

	<div *ngIf="pool">
		<div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>{{pool.name}}</md-card-title>
			<md-card-content>
				<div>Pool with {{pool.members.length}} participants</div>
			</md-card-content>
		</md-card>

		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>Identification</md-card-title>
			<md-card-content>
			<div>ID: {{pool.id}}</div>
			</md-card-content>
		</md-card>

		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>Legal</md-card-title>
			<md-card-content>
			<div>Legal contract: {{pool.legalContract}}</div>
			<div>Financial reports: {{pool.financialReports}}</div>
			</md-card-content>
		</md-card>

		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>Funds</md-card-title>
			<md-card-content>
			<div>Total tokens: {{pool.totalTokens}}</div>
			<div>Total slices: {{pool.totalSlices}}</div>
			</md-card-content>
		</md-card>

		</div>

		<md-divider></md-divider>

		<div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
			<button md-raised-button (click)="goBack()">Back</button>
			<button md-raised-button color="primary" (click)="edit()">Edit</button>
		</div>

		<md-divider></md-divider>

		<h2>Pool members</h2>

		<p-dataTable [value]="members">
			<p-column field="name" [sortable]="true" header="Name"></p-column>
			<p-column field="address" [sortable]="true" header="Address" [style]="{'width':'500px'}"></p-column>
			<p-column field="memberSince" [sortable]="true" header="Member since"></p-column>
			<p-column field="tokens" [sortable]="true" header="Tokens" [style]="{'width':'100px'}"></p-column>
			<p-column field="slices" [sortable]="true" header="Slices" [style]="{'width':'100px'}"></p-column>
		</p-dataTable>

		<md-divider></md-divider>

		<h2>Pool transactions</h2>

		<p-dataTable [value]="transactions" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
			<p-column field="type" [sortable]="true" header="Type"></p-column>
			<p-column field="date" [sortable]="true" header="Date"></p-column>
			<p-column field="fromName" [sortable]="true" [filter]="true" filterPlaceholder="Search" header="Initiator"></p-column>
			<p-column field="toName" [sortable]="true" [filter]="true" filterPlaceholder="Search" header="Receiver"></p-column>
			<p-column field="data" [sortable]="true" header="Data"></p-column>
		</p-dataTable>
	</div>
</div>