<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="register md-elevation-z12">
    <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
    </div>
      <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
        <button color="primary" md-raised-button (click)="register()">CREATE CONTRACT</button>

        <div *ngIf="contractAddress" fxLayout="column" fxLayoutAlign="center center">
			<p class="info">Contract published! Address:</p>
			<p class="address"><b>{{contractAddress}}</b></p>
			<p class="warning">You must remmeber the contract address. Without it, you cannot access your contract!</p>

			<a [routerLink]="['/dashboard']">Login to contract</a>
        </div>

		<div *ngIf="!contractAddress">
        	<p class="note">Already have a contract?<br/> <a [routerLink]="['/login']">Sign in here</a></p>
		</div>
      </div>
    </div>
</div>
