:host {
  display: block;
}

.voting-container {
  padding: 1%;
  position: relative;

  .header {
    min-height: 220px;
    background: linear-gradient(60deg, #2196F3, #3F51B5);
  }
}

.margin-top {
  margin-top: 12px;
}

.title {
	text-align: center;
	padding: 1%;
}

.info {
	text-align: center;
	padding: 1%;
	margin-right: 20px;
}

div.text {
  font-size: 14pt;
}


md-card {
  margin: 2%;
}

button, md-select, div.text {
  margin: 5px;
}

button.action {
    margin: 20px;
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .margin-top-md {
    margin-top: 12px;
  }
}

@media screen and (max-width: 959px) {
  .margin-bottom-sm {
    margin-bottom: 12px;
  }
}
