<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="login md-elevation-z12">
    <div class="login-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
    </div>
    <form #form="ngForm">
      <div class="login-content" fxLayout="column" fxLayoutAlign="start stretch">
          <md-input-container>
            <input md-input placeholder="Contract address" type="text" name="contract_address" required [(ngModel)]="address">
          </md-input-container>
          <button color="primary" md-raised-button [disabled]="!form.valid" (click) = "login()">SIGN IN</button>
        <p class="note">Don't have a contract?<br/> <a [routerLink]="['/register']">Click here to create one</a></p>
      </div>
    </form>
  </div>
</div>
