:host {
  display: block;
}

.pool-container {
  padding: 1%;
  position: relative;

  .header {
    min-height: 220px;
    background: linear-gradient(60deg, #2196F3, #3F51B5);
  }
}

button {
  margin: 20px;
}

md-input-container {
  margin: 20px, 20px, 0, 0;
  width: 400px;
}

md-card {
  margin: 2%;
}