<div class="issue-tokens-container" fxLayout="column" fxLayoutAlign="start stretch">
	<div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>Issue tokens</md-card-title>
			<md-card-content>
				<div fxLayout="column">
					<div>Please select the pool and member and input the amount for each transaction</div>

					<md-select placeholder="Select pool" [(ngModel)]="pool" name="pool">
						<md-option *ngFor="let pool of pools" [value]="pool">
							{{pool.name}}
						</md-option>
					</md-select>

					<div *ngFor="let input of inputs">

						<md-select placeholder="Select member" [(ngModel)]="input.member" name="member">
							<md-option *ngFor="let member of members" [value]="member">
								{{member.name}}
							</md-option>
						</md-select>

						<md-input-container>
							<input md-input type="number" placeholder="Amount" [(ngModel)]="input.amount">
						</md-input-container>

						<button md-button (click)="remove(input)">X</button>
					</div>

					<div fxFlexAlign = "start">
						<button md-button (click)="newInput()">New line</button>
					</div>

					<md-divider></md-divider>

					<div fxLayout="row" fxLayoutAlign="space-between">
						<div fxFlexAlign = "syart">
							<button md-raised-button (click)="back()">Back</button>
						</div>

						<div fxFlexAlign = "end">
							<button md-raised-button color="primary" (click)="issueTokens()">Issue transactions</button>
						</div>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>
