<md-sidenav-container>

  <md-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

    <ms-quickpanel></ms-quickpanel>

  </md-sidenav>

  <md-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav #sidenav>

    <ms-sidenav></ms-sidenav>

  </md-sidenav>

  <md-toolbar class="main-toolbar md-elevation-z2">
    <div fxHide="false" fxHide.gt-sm>
      <button (click)="sidenav.open()" md-icon-button>
        <md-icon>menu</md-icon>
      </button>
    </div>

    <ms-breadcrumbs fxHide="true" fxHide.gt-sm="false"></ms-breadcrumbs>

    <span fxFlex></span>

    <button fxHide="true" fxHide.gt-sm="false" md-button class="fullscreen-toggle" (click)="toggleFullscreen()">
      <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
      <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
    </button>

    <button md-button class="quickpanel-toggle" (click)="quickpanel.open()">
      <md-icon>format_align_right</md-icon>
    </button>
  </md-toolbar>

  <div class="main-container" #scrollContainer>
    <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
  </div>

</md-sidenav-container>
