<div class="member-container" fxLayout="column" fxLayoutAlign="start stretch">

	<div *ngIf="member">
		<div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>{{member.name}}</md-card-title>
			<md-card-content>
				<div *ngIf="member.permissionLevel==0">No permissions</div>
				<div *ngIf="member.permissionLevel==1">Contract member</div>
				<div *ngIf="member.permissionLevel==2">Contract admin</div>
				<div *ngIf="member.permissionLevel==3">Contract owner</div>
			</md-card-content>
		</md-card>

		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>Identification</md-card-title>
			<md-card-content>
			<div>Address: {{member.address}}</div>
			<div>ID: {{member.id}}</div>
			</md-card-content>
		</md-card>

		<md-card fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md class="social-card">
			<md-card-title>Experience</md-card-title>
			<md-card-content>
			<div>Member since: {{member.memberSInce}}</div>
			<div>Total tokens: 123</div>
			<div>Total shares: 123</div>
			</md-card-content>
		</md-card>
		</div>

		<md-divider></md-divider>

		<div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
			<button md-raised-button (click)="goBack()">Back</button>
			<button md-raised-button color="primary" (click)="edit()">Edit</button>
		</div>
		<h2>Debt pools</h2>

		<p-dataTable [value]="pools">
			<p-column field="name" [sortable]="true" header="Name"></p-column>
			<p-column field="members.length" [sortable]="true" header="Member count"></p-column>
			<p-column field="totalTokens" [sortable]="true" header="Token count"></p-column>
			<p-column field= "tokensShare" [sortable]="true" header="Tokens (%)"></p-column>
			<p-column field="totalSlices" [sortable]="true" header="Slice count"></p-column>
			<p-column field="slicesShare" [sortable]="true" header="Slices (%)"></p-column>
		</p-dataTable>
	</div>

</div>