<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="getMetamask md-elevation-z12">
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
    </div>
    <div class="content" fxLayout="column" fxLayoutAlign="start stretch">
      <p class="message">Obitcoin requires the Metamask browser plugin for interaction with the Ethereum blockchain</p>
      <p class="link"><a href="https://metamask.io/" target="_blank">Get Metamask</a></p>
    </div>
  </div>
</div>
