<div class="transactions-container" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <h2>Transactions</h2>
        <div fxLayout="row" fxFlexAlign="end" fxLayoutAlign="center">
            <button fxFlex md-raised-button color="primary" [disabled]="userPermissionLevel<=1" (click) = "sendTokens()">Issue tokens</button>
            <button fxFlex md-raised-button color="primary" [disabled]="userPermissionLevel<=1" (click) = "buyTokens()">Buy tokens</button>
        </div>
	</div>

    <p-dataTable [value]="transactions" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
        <p-column field="type" [sortable]="true" header="Type"></p-column>
        <p-column field="date" [sortable]="true" header="Date"></p-column>
        <p-column field="fromName" [sortable]="true" [filter]="true" filterPlaceholder="Search" header="Initiator"></p-column>
        <p-column field="toName" [sortable]="true" [filter]="true" filterPlaceholder="Search" header="Receiver"></p-column>
        <p-column field="poolName" [sortable]="false" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals" header="Pool">
            <template pTemplate="filter" let-col>
                <p-dropdown [options]="pools" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </template>
        </p-column>
        <p-column field="data" [sortable]="true" header="Data"></p-column>
    </p-dataTable>
</div>